*.o
*.x86
*.elf
win/
opk/data
opk/trajectories
opk/overheated_gcw0
overheated-rs97/data
overheated-rs97/*.dge
data/score/*.score
*.wasm
*.data
*.html
*.js
*.exe
*.mds
*.mdf
*.raw
*.wav
*.iso
*.cdi
cd/*.bin
cd/*.BIN
*.bin
*.BIN
*.7z
